{% extends 'myapp1/base1.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row" style="margin-top: 80px;">
 <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'user_profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row" >
    {% for ad in add %}
     <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address: {{ forloop.counter }}</h3>
       <p>Name: {{ad.c_name}}</p>
       <p>Locality: {{ad.c_locality}}</p>
       <p>City: {{ad.c_city}}</p>
       <p>Pin Code: {{ad.c_zipcode}}</p>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}