<!doctype html>
{% load static %}
<html lang="en">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Movify - Movies, Series & Cinema HTML Template">
    <meta name="keywords" content="movies, series, online streaming, html template, cinema html template">
    <meta name="author" content="GnoDesign">

    <!-- ===== Website Title ===== -->
    <title>Movify {% block title %} Movies, Series & Cinema HTML Template{% endblock title %}</title>

    <!-- ===== Favicon & Different size apple touch icons ===== -->
      <link rel="shortcut icon" href={% static 'assets/images/favicon.png' %} type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href={% static 'assets/images/apple-touch-icon-iphone.png' %}>
    <link rel="apple-touch-icon" sizes="76x76" href={% static 'assets/images/apple-touch-icon-ipad.png' %}>
    <link rel="apple-touch-icon" sizes="120x120" href={% static 'assets/images/apple-touch-icon-iphone-retina.png' %}>
    <link rel="apple-touch-icon" sizes="152x152" href={% static 'assets/images/apple-touch-icon-ipad-retina.png' %}>
    <link rel="apple-touch-icon" sizes="167x167" href={% static 'assets/images/apple-touch-icon-ipad-pro.png' %}>
    <link rel="apple-touch-icon" sizes="180x180" href={% static 'assets/images/apple-touch-icon-iphone-6-plus.png' %}>
    <link rel="icon" sizes="192x192" href={% static 'assets/images/icon-hd.png' %}>
    <link rel="icon" sizes="128x128" href={% static 'assets/images/icon.png' %}>

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/revolution/css/settings.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/revolution/css/layers.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/revolution/css/navigation.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/magnific-popup.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/jquery.mmenu.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/owl.carousel.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/style.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/responsive.css' %}>





  </head>
  <body>
 <nav id="main-mobile-nav"></nav>
    <!-- =============== END OF RESPONSIVE - MAIN NAV =============== -->



    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">


        <!-- =============== START OF HEADER NAVIGATION =============== -->
        <!-- Insert the class "sticky" in the header if you want a sticky header -->
         <header class="header header-fixed header-transparent text-white">

                <div class="bgcolor">
                    <div class="container-fluid" style="background-color: black;">

                        <!-- ====== Start of Navbar ====== -->
                        <nav class="navbar navbar-expand-lg">

                            <a class="navbar-brand" href={% url 'home' %}>
                                <!-- INSERT YOUR LOGO HERE -->
                                  <img src={% static 'assets/images/logo.png' %} alt="logo" width="150" class="logo">
                                    <!-- INSERT YOUR WHITE LOGO HERE -->
                                    <img src={% static 'assets/images/logo.png' %} alt="white_logo" width="150" class="logo-white" style="height: 44px;">
                            </a>

                            <button id="mobile-nav-toggler" class="hamburger hamburger--collapse" type="button">
                               <span class="hamburger-box">
                                  <span class="hamburger-inner"></span>
                               </span>
                            </button>

                            <!-- ====== Start of #main-nav ====== -->
                                <div class="navbar-collapse" id="main-nav">
                                    <ul class="navbar-nav mx-auto" id="main-menu">
                                        <li class="nav-item">
                                        <a class="nav-link " href="{% url 'home' %}" >Home</a>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movie </a>

                                                <!-- Dropdown Menu -->
                                                <ul class="dropdown-menu">
                                                    <!-- Menu Item -->
                                                    <li>

                                                         <a class="dropdown-item" href="{% url 'movie_list' dba='a'%}">All Movie</a>
                                                    </li>

                                                    <!-- Divider -->
                                                    <li class="divider" role="separator"></li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'movie_list1' db='B' %}">Bollywood</a>

                                                    </li>
                                                    <!-- Menu Item url ni name ni value nakhi chhe url hollywood ma -->
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'movie_list1' db='H' %}">Hollywood</a>
                                                    </li>

                                                    <!-- Menu Item -->

                                                </ul>
                                            </li>



                                            <!-- Menu Item -->
                                           <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Featured</a>

                                                <!-- Dropdown Menu -->
                                                <ul class="dropdown-menu">
                                                    <!-- Menu Item -->
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'movie_list' dba='top' %}">Top Movies</a>
                                                    </li>

                                                    <!-- Menu Item -->
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'movie_list' dba='recent' %}">Latest Movie</a>
                                                    </li>




                                                </ul>
                                            </li>

                                            <!-- Menu Item -->

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</a>

                                                <!-- Dropdown Menu -->
                                                    <ul class="dropdown-menu">
                                                    <!-- Menu Item -->


                                                         <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='1' %}"> Thriller </a>
                                                         </li>
                                                    <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='12' %}"> Action </a>
                                                         </li>
                                                    <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='9' %}"> Horror </a>
                                                         </li>
                                                    <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='7' %}"> Mystery </a>
                                                         </li>
                                                    <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='4' %}"> Historical </a>
                                                         </li>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'movie_filter' data='2' %}"> 	Comedy </a>
                                                         </li>





                                                    </ul>

                                                </li>






                                            {% if request.user.is_authenticated %}
                                            <!-- Menu Item -->


                                            <!-- Menu Item -->

                                                 <li class="nav-item dropdown" >

                                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >  {{request.user}}</a>

                                                    <!-- Dropdown Menu -->
                                                    <ul class="dropdown-menu">
                                                        <!-- Menu Item -->
                                                        <li>
                                                            <a class="dropdown-item" href={% url 'changepassword' %}>Change PAssword</a>
                                                        </li>

                                                        <!-- Menu Item -->
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
                                                        </li>

                                                         <li>
                                                            <a class="dropdown-item" href="{% url 'orders' %}">Orders</a>
                                                        </li>

                                                        <!-- Menu Item -->
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
                                                        </li>

                                                        <!-- Menu Item -->


                                                    </ul>
                                                 </li>

                                                <button type="submit" class="btn btn-main btn-effect" style="margin-right: 23px;">
                                                        <a href="{% url 'cart' %}" >
                                                            <i class="bp3-icon-shopping-cart"></i><span class="badge bg-danger">{{ totalitem }}</span> Cart
                                                        </a>
                                                </button>

                                            {% else %}
                                            <!-- Menu Item -->
                                              <button type="submit" class="btn btn-main btn-effect" style="margin-right: 23px;">
                                                    <a href="{% url 'log_in' %}" >
                                                        <i class="icon-user"></i> login
                                                    </a>
                                              </button>
                                                <button type="submit" class="btn btn-main btn-effect">
                                                    <a href="{% url 'signup' %}" >
                                                        <i class="icon-user"></i> Register
                                                    </a>
                                                </button>
                                            {% endif %}



                                        <!-- ====== End of Extra Nav ====== -->
                                    </ul>
                                    </div>

                            <!-- ====== End of #main-nav ====== -->
                        </nav>
                        <!-- ====== End of Navbar ====== -->

                    </div>
                </div>

        </header>
        <!-- =============== END OF HEADER NAVIGATION =============== -->




        <!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->
        <section id="slider" class="full-slider">
            <div class="rev-slider-wrapper fullscreen-container overlay-gradient">
                <div id="fullscreen-slider" class="rev_slider fullscreenbanner" style="display:none" data-version="5.4.1">
                    <ul>

                        <!-- ===== SLIDE NR. 1 ===== -->
                        <li data-transition="fade">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/slider/slider1.jpg"
                                 alt="Image"
                                 title="slider-bg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 data-bgparallax="10"
                                 class="rev-slidebg"
                                 data-no-retina="">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme"
                                 data-x="center"
                                 data-hoffset=""
                                 data-y="middle"
                                 data-voffset="['-30','-30','-30','-30']"
                                 data-responsive_offset="on"
                                 data-fontsize="['60','50','40','30']"
                                 data-lineheight="['60','50','40','30']"
                                 data-whitespace="nowrap"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 style="z-index: 5; color: #fff; font-weight: 900;">START STREAMING NOW
                            </div>
                        </li>

                        <!-- ===== SLIDE NR. 2 ===== -->
                        <li data-transition="fade"
                            data-slotamount="7"
                            data-easein="default"
                            data-easeout="default"
                            data-masterspeed="2000">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/slider/slider2.jpg"
                                 alt="Image"
                                 title="slider-bg"
                                 data-bgposition="center top"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 data-bgparallax="10"
                                 class="rev-slidebg"
                                 data-no-retina="">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme"
                                 data-x="center"
                                 data-hoffset=""
                                 data-y="middle"
                                 data-voffset="['-30','-30','-30','-30']"
                                 data-responsive_offset="on"
                                 data-fontsize="['60','50','40','30']"
                                 data-lineheight="['60','50','40','30']"
                                 data-whitespace="nowrap"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 style="z-index: 5; color: #fff; font-weight: 900;">ULTRA HD RESOLUTION
                            </div>
                        </li>

                        <!-- ===== SLIDE NR. 3 ===== -->
                        <li data-transition="fade"
                            data-slotamount="7"
                            data-easein="default"
                            data-easeout="default"
                            data-masterspeed="2000">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/slider/slider3.jpg"
                                 alt="Image"
                                 data-bgposition="center top"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 data-bgparallax="3"
                                 class="rev-slidebg"
                                 data-no-retina>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme"
                                 data-x="center"
                                 data-hoffset=""
                                 data-y="middle"
                                 data-voffset="['-30','-30','-30','-30']"
                                 data-responsive_offset="on"
                                 data-fontsize="['60','50','40','30']"
                                 data-lineheight="['60','50','40','30']"
                                 data-whitespace="nowrap"
                                 data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 style="z-index: 5; color: #fff; font-weight: 900;">LATEST MOVIES & SERIES
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- ===== END OF REV SLIDER WRAPPER ===== -->


            <!-- ===== START OF SEARCH FORM WRAPPER ===== -->
            <div class="search-form-wrapper search-form-rev">
                <div class="container">

                    <!-- ===== START OF SEARCH FORM ===== -->

                    <!-- ===== END OF SEARCH FORM ===== -->

                </div>
            </div>
            <!-- ===== END OF SEARCH FORM WRAPPER ===== -->
        </section>
    {% block banner_slider %} {% endblock banner_slider %}
    {% block livesale %} {% endblock livesale %}
    {% block main-content %} {% endblock main-content %}

    <!-- Start Footer -->
 <footer class="footer1 bg-dark">

            <!-- ===== START OF FOOTER WIDGET AREA ===== -->

            <!-- ===== END OF FOOTER WIDGET AREA ===== -->


            <!-- ===== START OF FOOTER COPYRIGHT AREA ===== -->
            <div class="footer-copyright-area ptb30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex">
                                <div class="links">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#">Privacy & Cookies</a></li>
                                        <li class="list-inline-item"><a href="#">Terms & Conditions</a></li>
                                        <li class="list-inline-item"><a href="#">Legal Disclaimer</a></li>
                                        <li class="list-inline-item"><a href="#">Community</a></li>
                                    </ul>
                                </div>

                                <div class="copyright ml-auto">All Rights Reserved by <a href="#">MovieAro</a>.</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </footer>
    </div>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
   <script src={% static 'assets/js/jquery-3.2.1.min.js' %}></script>
    <script src={% static 'assets/js/bootstrap.min.js' %}></script>
    <script src={% static 'assets/js/jquery.ajaxchimp.js' %}></script>
    <script src={% static 'assets/js/jquery.magnific-popup.min.js' %}></script>
    <script src={% static 'assets/js/jquery.mmenu.js' %}></script>
    <script src={% static 'assets/js/jquery.inview.min.js' %}></script>
    <script src={% static 'assets/js/jquery.countTo.min.js' %}></script>
    <script src={% static 'assets/js/jquery.countdown.min.js' %}></script>
    <script src={% static 'assets/js/owl.carousel.min.js' %}></script>
    <script src={% static 'assets/js/imagesloaded.pkgd.min.js' %}></script>
    <script src={% static 'assets/js/isotope.pkgd.min.js' %}></script>
    <script src={% static 'assets/js/headroom.js' %}></script>
    <script src={% static 'assets/js/custom.js' %}></script>

    <!-- ===== Slider Revolution core JavaScript files ===== -->
    <script type="text/javascript" src={% static 'assets/js/custom.js' %}"assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src={% static 'assets/js/custom.js' %}"assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- ===== Slider Revolution extension scripts ===== -->
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.actions.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.carousel.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.kenburn.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.migration.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.navigation.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.parallax.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.slideanims.min.js' %}></script>
    <script type="text/javascript" src={% static 'assets/revolution/js/extensions/revolution.extension.video.min.js' %}></script>



  </body>
</html>